body {
	font-size:10pt;
    font-family: "Arial", "Verdana", "Tahoma", sans-serif;
	margin: 0;
    padding: 0;
    background-color: rgb(200,200,200);
    color: rgb(80, 80, 80);
}

#map {
    display: block;
    width: 640px;
	float: right;
}

#wrapper {
    display: block;
    width: 920px;
    height: 484px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(160,160,160);
	/*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
	-moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.15);
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.15);
}

#sidebar {
    margin-top: 2px;
    display:block;
	width: 280px;
	float: left;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    background-color: rgb(244,244,244);
}

#key {
    display:block;
	width: 280px;
	height: 142px;
}

#key-header, #info-header {
    display:block;
    background-color: rgb(36, 36, 36);
    height: 27px;
    color: rgb(220, 220, 220);
    padding-left: 8px;
    vertical-align: middle;
    line-height: 27px;  
}

#key-content {
    padding-left: 16px;
}

#info-content {
    /*font-weight: bold;*/
    padding-left: 16px;
    padding-right: 16px;
}

#info-content dt:hover {
    background-color: rgb(230, 230, 230);
    cursor:default;
}

#info {
    display:block;
	width: 280px;
	height: 342px;
}

.event-info #title {
    font-weight: bold;
}
